header {
    background-color: grey;
    padding: '20px';
    text-align: center;
}

nav {
    background-color: '#f5f5f5';
    padding: '20px'; 
    width: '200px'; 
    float: 'left';
}

main {
    background-color: '#f5f5f5'; 
    float: right;
    
}